<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bms.mapper.BannerMapper" >
  <resultMap id="BaseResultMap" type="com.bms.entity.Banner" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sid" property="sid" jdbcType="BIGINT" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="pic_sort" property="picSort" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <update id="insertOrUpdate" parameterType="com.bms.entity.Banner">
    INSERT INTO `club`.`banner`
    (
    `pic_url`,
    `pic_sort`)
    VALUES
    (
    #{pic_url},
    #{picSort})
    ON DUPLICATE KEY UPDATE
    pic_url = #{picUrl},
    pic_sort = #{picSort}

   </update>
</mapper>