<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bms.mapper.CryptocurrencyMapper" >
  <resultMap id="BaseResultMap" type="com.bms.entity.Cryptocurrency" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sid" property="sid" jdbcType="BIGINT" />
    <result column="logo_name_cn" property="logoNameCn" jdbcType="VARCHAR" />
    <result column="logo_name_en" property="logoNameEn" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="title_cn" property="titleCn" jdbcType="VARCHAR" />
    <result column="title_en" property="titleEn" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="content_cn" property="contentCn" jdbcType="LONGVARCHAR" />
    <result column="content_en" property="contentEn" jdbcType="LONGVARCHAR" />
  </resultMap>
  <update id="insertOrUpdate" parameterType="com.bms.entity.Cryptocurrency">

    INSERT INTO `club`.`cryptocurrency`
    (
    `logo_name_cn`,
    `logo_name_en`,
    `logo_url`,
    `title_cn`,
    `title_en`,
    `content_cn`,
    `content_en`,
    `website`,
    `dialog_logo_url`)
    VALUES
    (
    #{logoNameCn },
    #{logoNameEn },
    #{logoUrl },
    #{titleCn },
    #{titleEn },
    #{contentCn },
    #{contentEn },
    #{website },
    #{dialogLogoUrl }
    )
    ON DUPLICATE KEY UPDATE
    `logo_name_cn` = #{logoNameCn },
    `logo_name_en` = #{logoNameEn },
    `logo_url` = #{logoUrl },
    `title_cn` = #{titleCn },
    `title_en` = #{titleEn },
    `content_cn` = #{contentCn },
    `content_en` = #{contentEn },
    `website` = #{website },
    `dialog_logo_url` = #{dialogLogoUrl }

  </update>
</mapper>