<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bms.mapper.EventDayMapper" >
  <resultMap id="BaseResultMap" type="com.bms.entity.EventDay" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sid" property="sid" jdbcType="BIGINT" />
    <result column="month_id" property="monthId" jdbcType="BIGINT" />
    <result column="day" property="day" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="title_cn" property="titleCn" jdbcType="VARCHAR" />
    <result column="title_en" property="titleEn" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="content_cn" property="contentCn" jdbcType="LONGVARCHAR" />
    <result column="content_en" property="contentEn" jdbcType="LONGVARCHAR" />
  </resultMap>

  <!--<sql id="sqlParams" >-->
    <!--sid as sid,-->
  <!--month_id AS  monthId,-->
  <!--day as day,-->
  <!--time as time,-->
  <!--type as type,-->
  <!--status as status ,-->
  <!--title_cn AS titleCN,-->
  <!--content_cn AS contentCn ,-->
  <!--color AS color ,-->
  <!--pic_url AS  picUrl,-->
  <!--row,-->
  <!--col,-->
  <!--title_en AS titleEn,-->
  <!--content_en AS  contentEn-->
  <!--</sql>-->




  <update id="insertOrUpdate" parameterType="com.bms.entity.EventDay">

    INSERT INTO `club`.`event_day`
    (
    `month_id`,
    `day`,
    `time`,
    `type`,
    `status`,
    `titleCn`,
    `titleEn`,
    `contentCn`,
    `contentEn`,
    `color`,
    `pic_url`)
    VALUES
    (
    #{monthId },
    #{day },
    #{time },
    #{type },
    #{status },
    #{titleCn },
    #{titleEn },
    #{contentCn },
    #{contentEn },
    #{color },
    #{picUrl }
    )
    ON DUPLICATE KEY UPDATE
    `month_id` = #{monthId },
    `day` = #{day },
    `time` = #{time },
    `type` = #{type },
    `status` = #{status },
    `title_cn` = #{titleCn },
    `title_en` = #{titleEn },
    `content_cn` = #{contentCn },
    `content_en` = #{contentEn },
    `color` = #{color },
    `pic_url` = #{picUrl }

  </update>

  <select id="getEventsDayByMonth" parameterType="java.lang.Long" resultMap="BaseResultMap" >
    select *  from event_day where event_day.month_id=#{monthId} ORDER BY CAST(event_day.`day` AS UNSIGNED);
   </select>
</mapper>